body {
	background-color: white;
	width: 100%;
	height: auto;
	margin: 0;
}

header {
	background-color: black;
	display: flex;
	justify-content: space-between;
}
#logo {
	width: 15%;
	height: 5%;
	margin: 2rem 0 2rem 2rem;
	padding: 0;
}
#banner {
	margin: 2rem 2rem 2rem 0;
	padding: 0;
}
nav {
	background-color: darkgrey;
}
li {
	text-decoration: none;
	color: white;
}
ul {
	list-style-type: none;
	margin: 0;
}
.ourCars {
	text-align: center;
	/* display: flex;
	justify-content: center; */
}
.collection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
img {
	width: 300px;
	height: auto;
	padding:  2rem;
	background-color: grey;
	display: block;  /*to remove white lin between img and figcaption*/
	vertical-align: top;
}
.text {
	margin-top: 0;
	background-color: darkgrey;
	color: white;
	height: 2rem;
	text-align: center;
	padding-top: 0.5rem;
}
figcaption{
	margin-top: 0;
}
footer {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
}